

<div class="bg-light p-5 rounded">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="display-4 title" style="font-family: 'Akaya Telivigala', cursive;">{{title}}</h1>
        <p class="lead">Authentic Global Market is an association of forex trading experts with impecable trading years of experience and great competence who pulls the resources of their subscribers or investors and give  back their returns .</p>
        <hr class="my-4">
        <p>With 100% maximum returns guarantee we have the 30 days and 60 days package as follows.</p>
        <p class="lead">

          <a style="background: #fe5722" class="btn btn-lg btn-primary" href="#" role="button">See our packages &raquo;</a>

        <br>
      </p>
    </div>

    <div class="col-sm-5 aligncenter">
        <img style="width: 100%" src="/static/img/logo.png">
    </div>
  </div>
